.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

#btnRetry{
    font-size: 20px;
    text-decoration: none;
    background-color:aqua;
    width: 100%;
}
#btnRetry:hover{
    color: brown;
    background-color: greenyellow;
}

.card-header{
    font-style: italic;
    background-color:coral;
}
